.scale-in-top {
    animation: scale-in-top 1s ease-in both;
    transition: all;
}

@keyframes scale-in-top {
    0% {
        transform: scaleY(0.5);
        width: 100%;
        opacity: 0;
    }

    25% {
        transform: translateY(0%);
        width: 100%;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.fade-in {
    animation: fade-in 1s cubic-bezier(.25, .46, .45, .94) both;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}





.scale-out-top {
    animation: scale-out-top .5s cubic-bezier(.55, .085, .68, .53) both
}

@keyframes scale-out-top {
    0% {
        transform: scale(1);
        transform-origin: 50% 0;
        opacity: 1
    }

    100% {
        transform: scale(0);
        transform-origin: 50% 0;
        opacity: 1
    }
}






.scale-in-modal {
    animation: scale-in-modal .5s cubic-bezier(.25, .46, .45, .94) both;
    /* transform-origin: 10% 50%; */
}

@keyframes scale-in-modal {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.scale-out-modal {
    animation: scale-out-modal .5s cubic-bezier(.25, .46, .45, .94) both
}

@keyframes scale-out-modal {

    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 1;
    }
}