* {
    margin: 0;
    box-sizing: border-box;
}

button:focus {
    outline: none;
    cursor: pointer;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: url('./fontStyle/CerebriSans.ttf') format('truetype')
}

.container {
    padding: 0 1.75rem 0 1.75rem;
    position: relative;
}

.nav {
    display: flex;
    flex-direction: row;
    padding-top: 0.938rem;
    align-items: center;
}

.profile {
    width: 2.5rem;
}

.profile img {
    width: 100%;
}

.greeting {
    margin-left: 0.625rem;
}

.greeting h3 {
    font-family: 'PT Serif';
    font-weight: lighter;
}

.divisions {
    display: flex;
    flex-direction: column;
    margin-top: 1.563rem;
}

.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.schedule h2 {
    font-family: 'PT Serif';
    font-size: 1.75rem;
}

.reconfigure {
    padding: 0.313rem 0.813rem 0.313rem 0.813rem;
    border-radius: 0.813rem;
    border: 0.063rem solid #FF9D00;
    box-shadow: 0.063rem 0.063rem 2rem rgba(0, 0, 0, 0.04);
}

@media screen and (max-width: 300px) {
    .reconfigure {
        margin-top: 0.625rem;
    }
}

.reconfigure:focus {
    outline: none;
}

.second,
.third {
    margin-top: 1.5rem;
    display: flex;
    min-height: 4rem;
}

.account,
.view {
    flex-grow: 1;
    border-radius: 0.375rem 0 0 0.375rem;
    padding: 0.75rem 0.938rem 0.75rem 0.938rem;
}

.account p,
.view p {
    font-family: 'Cerebri Sans';
    font-size: 0.875rem;

}

.pay,
.check {
    padding: 0.688rem 0.938rem 1rem 1rem;
    border-radius: 0 0.375rem 0.375rem 0;
    border: none;
    font-size: 0.875rem;
    max-width: 7.188rem;
    width: 100%;
    font-family: 'Cerebri Sans';
}

.limit {
    text-decoration: line-through;
}

.third {
    margin-top: 1.25rem !important;
}

.fourth {
    margin-top: 1.875rem;
    display: flex;
    flex-direction: column;
}

.get {
    margin: 1.25rem 0 0 1.25rem;
}

.get h3 {
    font-family: 'PT Serif';
}

.answer {
    margin: 0.313rem 0 0 1.25rem;
}

.answer p {
    font-family: 'Cerebri Sans';
    font-weight: lighter;
    font-size: 0.875rem;
}

.call {
    margin-top: 1.875rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.contact {
    margin-left: 2.188rem;
}

.caller,
.play {
    width: 2.5rem;
    border-radius: 50%;
    height: 2.5rem;
    box-shadow: 0.063rem 0.063rem 1.25rem rgba(0, 0, 0, 0.1);
}

.phone {
    margin: 0.688rem 0.101rem 0.729rem 0.684rem;
}

.video {
    margin-right: 2rem;
}

.pause {
    margin: 0.821rem 0.938rem 0.688rem 0.804rem;
}

.set {
    margin-top: 0.625rem;
    width: 6.813rem;
    line-height: 1.25rem;
    height: 2.5rem;
}

.set p {
    font-size: 0.875rem;
    font-family: 'Cerebri Sans';
}

.lose {
    width: 6.688rem !important;
}

.do {
    display: flex;
    align-items: center;
    margin-top: 0.938rem;
}

.it {
    width: 1.938rem;
    height: 1.25rem;
}

.it p,
.vid p {
    font-family: 'Cerebri Sans';
    font-size: 0.875rem;
}

.line,
.line2 {
    border: 0.063rem solid #8A5CFF;
    width: 1.938rem;
    height: 0.063rem;
    margin-top: 0.313rem;
}

.line2 {
    border: 0.063rem solid #FF682A;
}

.arrow1,
.arrow2 {
    margin-left: 0.438rem;
}

.arrow2 img {
    width: 0.875rem;
}

.next {
    margin-top: 1.875rem;
}

.next h2 {
    font-family: 'PT Serif';
    font-weight: lighter;
}

.time {
    margin-top: 1rem;
    display: flex;
    align-items: center
}

.exact {
    padding: 1.5rem 0.625rem 1.563rem 0;
}

.exact p {
    font-size: 0.75rem;
    font-family: 'Cerebri Sans';
}

.chore {
    padding: 0.813rem 0 0.813rem 0.938rem;
    border-radius: 0.625rem;
    flex-grow: 1;
}

.chore p {
    max-width: 15.063rem;
    min-height: 2.375rem;
    line-height: 1.188rem;
    font-size: 0.938rem;
    font-family: 'Cerebri Sans';
}

.bottom {
    position: relative;
}

.foot {
    position: fixed;
    bottom: 0;
    background-color: rgba(244, 244, 244, 0.75);
    padding: 0.625rem 1.906rem 1.25rem 1.875rem;
    height: 4.625rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.dule {
    margin-top: 0.125rem;
}

.dule p {
    font-size: 0.75rem;
    font-family: 'Cerebri Sans';
    font-weight: lighter;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
}



.hold {
    background: white;
    padding-bottom: 53px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.content {
    /* padding-left: 30px; */
}

.today {
    display: flex;
    border-radius: 20px 20px 0px 0px;
    /* margin-left: 30px;
    margin-top: 30px; */

}

.meal_container {
    width: 100%;
    max-width: 700px;
    margin: auto;
    position: fixed;
    bottom: 0px;
}

.meal {
    padding-top: 30px;
    padding-bottom: 31px;
    padding-left: 30px;
    width: 100%;
    font-family: 'PT Serif';
    font-weight: bold;
}

.cancel {
    padding: 31px 45px 31px 45px;
}

.menu {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    margin-top: 30px;
    overflow-y: scroll;
    height: 60vh;
    overflow-x: hidden;
}

.order,
.order2 {
    display: flex;
    align-items: center;
}

.order2 {
    margin-top: 25px;
}

.choose {
    margin-left: 20px;
}

.choose h3 {
    font-family: 'Cerebri Sans';
    font-weight: lighter;
    margin-bottom: 10px;
}

.choose p {
    font-size: 15px;
    font-weight: lighter;
    font-family: 'Cerebri Sans';
}

/* fixed top-0 right-0 w-screen h-screen flex items-center justify-center bg-gray-600 bg-opacity-75 z-20 */